@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/avenir/Avenir-Black.ttf);
}

@font-face {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/avenir/Avenir-Medium.ttf);
}

@font-face {
  font-family: "Arquitecta";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/arquitecta/Arquitecta-Bold.otf);
}

@font-face {
  font-family: "Arquitecta";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/arquitecta/Arquitecta-Medium.otf);
}
